.App {
  background-image: linear-gradient(to right, #318ce7, #4da5f3, #80bff7);
  text-align: center;
  min-height: 100vh;
}

.logo {
  padding: 20px;
}
.MuiTableRow-root {
  padding: 0;
}

/* FOR THE NAVBAR */
.hide-on-large {
  display: none;
}

/* FOR THE HOMEPAGE */
.home-container,
.home-character-container {
  width: 70vw;
  max-width: 100%;
  margin: 0px auto;
  padding: 80px 0 50px 0;
}
.responsive-home-logo {
  width: 80%; /* Full width of container */
  max-width: 400px; /* Set a max width */
  height: auto; /* Maintain aspect ratio */
  padding-bottom: 10px;
}
.movie-table-link {
  color: blue;
  font-weight: bold !important;
}
.character-table-link {
  display: flex;
  align-items: center;
  gap: 30px;
  color: blue;
  font-weight: bold !important;
}
.character-table-icon {
  display: block;
}
.character-table-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* FOR SPECIFIC MOVIE PAGE */
.movie-container,
.character-container {
  width: 60vw;
  max-width: 100%;
  margin: 0 auto;
  text-align: justify;
  padding-top: 80px;
}
.responsive-movie-logo {
  width: 80%;
  max-width: 400px;
  height: auto;
  display: block;
  padding-bottom: 20px;
  margin: 0 auto; /* Horizontally centers the image */
}
.responsive-movie-poster {
  width: 70%;
  max-width: 300px;
  height: auto;
}
/* For info table part */
.header-title-character,
.header-title-movie {
  color: white;
  line-height: 1.5;
}
/* Use for both movie and character page */
.header-text {
  color: white;
}
.description-text {
  font-size: 18px !important;
  text-align: justify;
  font-style: italic;
  padding: 15px 0 5px 0;
}
.media-link {
  color: blue !important;
}
/* For cast part */
.header-title-cast,
.header-movie-featured {
  background-color: #36454f;
  color: white;
  padding: 10px 0;
}

.character-cast-grid,
.movie-featured-grid {
  align-items: center;
  justify-content: center;
  background-color: #f4f6f6;
  padding: 15px 0;
}
.character-cast-card {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.character-cast-name,
.movie-featured-name {
  color: blue;
  padding-top: 5px;
}

/* FOR SPECIFIC CHARACTER PAGE */
.responsive-character-poster {
  width: 50%;
  min-width: 300px;
}
/* For movies featured page */
.movie-featured-card {
  width: 250px;
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 5px;
}
/* FOR MIDDLE SCREENS */
@media (max-width: 1200px) {
  .home-container {
    width: 80vw;
  }
  .home-character-container {
    width: 80vw;
  }
  .movie-container,
  .character-container {
    width: 80vw;
  }
}
/* FOR SMALL SCREENS (like phones) */
@media (max-width: 550px) {
  .home-container {
    width: 100vw;
  }
  .home-character-container {
    width: 100vw;
  }
  .movie-container,
  .character-container {
    width: 100vw;
  }
  .character-table-icon {
    display: none;
  }
}
