.App {
  background-image: linear-gradient(to right, #007fef, #4da5f3, #80bff7);
  text-align: center;
  height: 100vh;
}

.navBarLink {
  padding: 10px 0 0 0;
}
.logo {
  padding: 20px;
}
.responsive-logo {
  width: 60%; /* Full width of container */
  max-width: 400px; /* Set a max width */
  height: auto; /* Maintain aspect ratio */
}

/* For the homepage */
.home-container {
  width: 80vw;
  margin: 0px auto;
  padding: 40px 0 30px 0;
}
/* For specific movie page */
.movie-container {
  width: 70vw; /* Takes 70% of the screen width */
  margin: 0 auto; /* Optional: Center horizontally */
  text-align: justify; /* Optional: Center the content */
  padding: 40px 0 30px 0; /* Just leave that for now */
}

/* For small screens (like phones) */
@media (max-width: 550px) {
  .home-container {
    width: 100vw;
  }
  .movie-container {
    width: 100vw;
  }
}
