.App {
  background-image: linear-gradient(to right, #318ce7, #4da5f3, #80bff7);
  text-align: center;
  min-height: 100vh;
}

.logo {
  padding: 20px;
}

/* For the NavBar */
.hide-on-large {
  display: none;
}

/* For the homepage */
.home-container {
  width: 80vw;
  margin: 0px auto;
  padding: 90px 0 40px 0;
}
.responsive-home-logo {
  width: 80%; /* Full width of container */
  max-width: 400px; /* Set a max width */
  height: auto; /* Maintain aspect ratio */
  padding-bottom: 10px;
}

/* For specific movie page */
.movie-container {
  width: 60vw;
  margin: 0 auto;
  text-align: justify;
  padding: 90px 0 40px 0;
}
.responsive-movie-logo {
  width: 80%;
  max-width: 400px;
  height: auto;
  display: block;
  padding-bottom: 20px;
  margin: 0 auto; /* Horizontally centers the image */
}
.responsive-poster {
  width: 70%;
  max-width: 300px;
  height: auto;
}

/* For small screens (like phones) */
@media (max-width: 550px) {
  .home-container {
    width: 100vw;
  }
  .movie-container {
    width: 100vw;
  }
}
