body {
  display: flex;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  /* height: 100vh; Full viewport height */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For the homepage */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers vertically */
  width: 80vw;
  /* height: 100vh; */
}

/* For specific movie page */
.movie-container {
  width: 70vw; /* Takes 70% of the screen width */
  margin: 0 auto; /* Optional: Center horizontally */
  text-align: justify; /* Optional: Center the content */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navBarLink {
  margin: 10px;
}
